<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!-- <div *ngFor="let pair of course | keyvalue">
{{ pair.key + ': ' + pair.value }} 

</div>
-->




<div class="courses">
   <!--<course-card #cardRef1
         (courseSelected)="onCourseSelected($event)"  
         [course]= "courses[1]">
   </course-card>  -->
   <course-card  #container
         (courseSelected)="onCourseSelected($event)"  
         [course]= "courses[2]">
   </course-card> 

</div>
 <!--   <course-card *ngFor="let course of courses;index as i; first as isFirst; even as isEven; odd as isOdd" 
                     [class.is-first] = "isFirst"
                     [class.is-last] = "isLast"
                     [class.is-even] = "isEven"
                     [class.is-odd] = "isOdd"

                     (courseSelected)="onCourseSelected($event)"  
                     [course]= "course" [cardIndex]= "i + 1" ></course-card> 
 -->
  <!--  <course-card (courseSelected)="onCourseSelected($event)" [course]= "rxJs"></course-card> 
   <course-card (courseSelected)="onCourseSelected($event)" [course]= "nxJs"></course-card>  -->
   



